body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  padding: 0px;
  width: 350px;
  background: #f4f6f8;
  color: #2c3e50;
}

.container {
  max-width: 100%;
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header h1 {
  font-size: 16px;
  margin: 0;
  color: #34495e;
}

.login-link {
  font-size: 14px;
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.login-link:hover {
  color: #2980b9;
}

.context-info {
  text-align: center;
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 12px;
  background: #ecf0f1;
  padding: 4px 8px;
  border-radius: 6px;
}

.section {
  margin-bottom: 16px;
}

.section h2 {
  font-size: 14px;
  margin-bottom: 8px;
  border-bottom: 1px solid #dcdde1;
  padding-bottom: 3px;
  color: #2d3436;
}
.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive 3-column layout */
  gap: 12px; /* Adjust spacing between items */
  align-items: start; /* Align items at the start */
}

.api-link {
  display: block; /* Ensure links take full width */
  background: #f9f9f9;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.api-link:hover {
  background: #e4edff;
}

.api-link a {
  text-decoration: none;
  color: #2d3436;
  font-weight: 500;
  font-size: 13px;
  flex-grow: 1;
  padding: 8px;
  display: block;
}

.api-link button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.api-link button:hover {
  background-color: #2980b9;
}

/* Initially hide the Publishing Status section */

.publishing-status {
  display: none;
  background: #f9f9f9;
  padding: 0 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.publishing-status h2 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #2d3436;
  text-align: center;
}

.timestamps {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  color: #34495e;
}

.timestamps div {
  padding: 6px 8px;
  background: #ecf0f1;
  border-radius: 6px;
  font-size: 12px;
  color: #2c3e50;
}
.authoring-links {
  margin-top: 20px;
  display: none; /* Initially hide the Authoring Links section */
}

.authoring-links h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.authoring-links .links div {
  margin-bottom: 5px;
}

.authoring-links .links a {
  text-decoration: none;
  color: #3498db;
}